POSTGRES_DB:db_name
POSTGRES_USER:user_name
POSTGRES_PASSWORD:password
POSTGRES_HOST:host_name
POSTGRES_PORT:5213

SECRET_KEY:secret-key-here

KAFKA_BOOTSTRAP_SERVERS:kafka:9092
OPENSEARCH_HOST:opensearch
OPENSEARCH_PORT:9200
